{% macro navItem(text, href) %}
  <li class="navbar-item">
    <a class="navbar-link" href="{{ href }}">{{ text }}</a>
  </li>
{% endmacro %}
{% import _self as nav %}

<!-- Navbar -->
<nav class="navbar navbar-expand-xl navbar-togglable fixed-top
  {{ navbarDark ? 'navbar-dark' : 'navbar-fixed-top' }}
  ">
  <div class="container p-2">
    <div class="navbar-brand">
      <a href="./admin">
        <img src="images/logo.png" class="d-inline-block mr-1" alt="HostelR" style="width: 3em;">
        Administração
      </a>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav ml-auto">
        {% block navItems %}
          {% if curPage == 'hostels' %}
            {{ nav.navItem('Reservas', 'admin/reservations') }}
          {% elseif curPage == 'reservations' %}
            {{ nav.navItem('Hosteis', 'admin/hostels') }}
          {% else %}
            {{ nav.navItem('Hosteis', 'admin/hostels') }}
            {{ nav.navItem('Reservas', 'admin/reservations') }}
          {% endif %}
          {% if loggedIn %}
            {{ nav.navItem('Sair', 'admin/logout') }}
          {% endif %}
        {% endblock %}
    </ul>
  </div>
</div>
</nav>